 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dogs!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/Assets/css/style.css">
</head>
<body>

{{> navbar}}

<section class="carousel-container">
    <button class="carousel-arrow left-arrow"><i class="fas fa-chevron-left"></i></button>
    <div class="carousel-content">
    {{#each dogs}}
      <div class="card" data-name="{{name}}">
    <header class="card-header">
      <p class="card-header-title">{{name}}</p>
      <button class="heart-button {{#if saved}}saved{{/if}}" aria-label="Save">
        <i class="fa-heart {{#if saved}}fas{{else}}far{{/if}}"></i>
      </button>
    </header>
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{{image}}" alt="Pet image for {{name}}">
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <strong>Age:</strong> {{age}}<br>
        <strong>Breed:</strong> {{breed}}<br>
        <strong>Description:</strong> {{description}}<br>
        <button id="breed-info-{{name}}" class="button is-small more-info" data-name="{{name}}">More Info</button>
        <div class="additional-info is-hidden" id="additional-info-{{name}}">
          <strong>Energy Level:</strong> {{energyLevel}}<br>
          <strong>Kid Friendly:</strong> {{#if kidFriendly}}Yes{{else}}No{{/if}}<br>
          <strong>Other Dog Friendly:</strong> {{#if otherDogFriendly}}Yes{{else}}No{{/if}}<br>
          <strong>Spayed/Neutered:</strong> {{#if spayedNeutered}}Yes{{else}}No{{/if}}<br>
          <strong>Weight:</strong> {{weight}}<br>
          <strong>Special Medical Needs:</strong> {{#if specialMedNeeds}}Yes{{else}}No{{/if}}<br>
          <div class="breed-info is-hidden" >
          </div>
        </div>
      </div>
    </div>
    </div>
    {{/each}}
 </div>
    <button class="carousel-arrow right-arrow"><i class="fas fa-chevron-right"></i></button>
</section>
<!--saved dogs container-->
<div class="title-box" id="saved-pets-section" style="display: none;">
    <h1 class="title is-1">Favorited Dogs</h1>
    <div id="saved-pets-container">
      <!--dynamically inserted-->

    </div>
</div>
</body>

<script src="/js/dogcards.js"></script>
</html>
